@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&family=Poppins:wght@500&display=swap');

:root {
    --bg-color: rgb(242, 242, 252);
    --main-color: rgb(19, 20, 29);
    --btn-color: rgb(21, 136, 36);
    --font-color-light: ghostwhite;
    --font-color-dark: rgb(11, 12, 20);
    --menu-toggled: 0;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: url('../static/src/imgs/bg.jpg');
    background-size: contain;
}

header {
    place-items: center;
    place-content: center;
    height: 70px;
    background-color: var(--main-color);
}

.img-logo {
    width: 125px;
    place-self: left !important;
    margin-left: 30px;
    cursor: pointer;
    transform: translateX(0);
}

nav {
    padding-block: 10px 0;
    height: 70px;
    display: flex;
    place-items: center;
    place-content: center;
}

.div-nav {
    margin: 16px auto 0 auto;
    padding: 0;
}

.ul-nav {
    margin: auto auto 0 auto;
    padding: 0;
    display: inline-flex;
    gap: 5px;
    list-style: none;
    transform: translateX(0);
}

.li-nav {
    padding: 10px 10px;
    border-radius: 5px 5px 0 0;
}

.a-nav {
    padding: 10px 10px;
    text-decoration: none;
    color: var(--font-color-light);
}

.li-nav:hover {
    background-color: brown;
    transition: 350ms ease-in-out;
}

.buttons-svc {
    margin: 50px auto;
    max-width: 600px;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons-svc > img {
    display: inline-block;
    object-fit: contain;
    margin-inline: 20px;
    margin-block: 10px;
    width: 15rem;
    border-radius: 8px;
  }
  

@media(max-width: 850px) {

    /* Responsividade para celular de toda a tela, não deixar margem para rolar */

    .div-nav{
        display: none;
    }

    .img-logo{
        transform: translate(-20px);
    }

    header, nav{
        height: 100px;
    }

}
