@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&family=Poppins:wght@500&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&family=Poppins:wght@500&display=swap');

:root {
    --bg-color: rgb(242, 242, 252);
    --main-color: rgb(19, 20, 29);
    --btn-color: rgb(21, 136, 36);
    --progress-color: rgba(251, 255, 18, 0.801);
    --pause-color: rgb(0, 217, 255);
    --stop-color: rgba(0, 184, 24, 0.664);
    --font-color-light: ghostwhite;
    --font-color-dark: rgb(11, 12, 20);
    --menu-toggled: 0;
}

.container-itens {
    position: absolute;
    left: 0;
    top: 80px;
    background-color: var(--main-color);
    border-radius: 0 10px 10px 0;
    width: 200px;
    transform: translateX(0);
    z-index: 900;
    overflow: hidden;
}

.logout {
    position: absolute;
    right: 40px;
}

body {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.janela-title {
    background-color: var(--main-color);
    color: ghostwhite;
}


.janela-title h4 {
    margin-left: 2%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'sans serif';
    overflow-x: hidden;
}

header {
    place-items: center;
    place-content: center;
    height: 70px;
    background-color: var(--main-color);
    margin-bottom: 30px;
}

.img-logo {
    width: 125px;
    margin-left: 30px;
    cursor: pointer;
    transform: translateX(0);
}

nav {
    padding-block: 10px 0;
    height: 70px;
    display: flex;
    place-items: center;
    place-content: center;
}

.close{
    padding: 0 0 0 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    font-weight: 800;
    transition: all 300ms ease;
}

.modal-header{
    padding: 0 16px;
    background-color: #DC3545;
}

.modal-footer{
    background-color: rgb(58 58 58);
    padding-block: 5px;
}

.btn-fechar-modal{
    transition: all 300ms ease;
}

.btn-fechar-modal:hover{
    transform: scale(1.1);
    background-color: #DC3545;
    transition: 300ms ease;
}

.close:hover{
    transform: rotate(-90deg);
    transition: all 300ms ease;
}

.container-tables{
    width: 100%;
    height: 88vh;
    margin: 2% auto auto auto;
    overflow: auto;
}

.view-tables{
    width: 100%;
    display: flex;
    place-items: center;
    align-items: center;
    background-color: var(--main-color);
    color: ghostwhite;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--main-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.445);
}


.view-tables div{
    place-content: center;
    place-items: center;
    padding: 0;
    padding-block: 5px;
    border-right: 1px solid black;
}

.view-tables .container-controles{
    border-right: none;
}

.view-tables, .data-values{
    width: 60%;
    margin: auto;
    
}
.data-values {
    background-color: ghostwhite;
    padding-block: 5px;
}

.data-values {
    background-color: #e3f1f9;
    transition: all 200ms;
    font-weight: 600;
    text-shadow: none;
}
.data-values:hover{
    background-color: #DC3545;
    color: ghostwhite
}

.data-values{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid slategray;
    border-left: 1px solid slategray;
    border-right: 1px solid slategray;
}

.data-values div{
    padding: 1px;
}

.view-tables, .data-values {
    min-width: 390px;
}

.div-os, .os-data{
    width: 8%;
    min-width: 50px;
}

.div-etapa, .etapa-data{
    width: 5%;
    min-width: 50px;
   
}

i:hover{
    color: rgb(30, 216, 6);
}

.div-servico, .servico-data{
    width: 52%;
}



.container-controles, .controles{
    width: 35%;
    min-width: 100px;
}


.controles {
    display: inline-flex;
    place-content: center;
    gap: 15px;
}


.controles i {
    font-size: 40px;
}
.btn-primary{
    width: 80%;
}

.btn-primary:hover{
    background-color: rgb(0, 132, 255);
}


@media(max-width: 850px) {

    /* Responsividade para celular de toda a tela, não deixar margem para rolar */
    .img-logo {
        transform: translate(-130px);
        padding-left: 0;
        transition: all 500ms ease;
    }
    .janela-title h4{
        font-size: 10pt;
    }
    .container-itens {
        width: 100%;
        border-radius: 0;
        padding-top: 5px;
    }

    header,
    nav {
        height: 80px;
    }

}



