<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--------------------- BootStrap --------------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/73cc2295d4.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/operacao.css">
    <title>Operacional</title>

</head>

<body>

    <header>
        <nav>
            <img class="img-logo" src="../static/src/icons/logo_branca.png" draggable="false" onclick="logoClick()">
            <button type="button" class="logout btn btn-danger btn-md" onclick="logout()">Finalizar Sessão</button>
        </nav>
        <script>
            function logout() {
                fetch("/logout", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then(response => {
                        if (response.ok) {
                            console.log("Logou realizado com sucesso");
                            window.location.href = "/";
                        } else {
                            console.log("Erro ao realizar logout");
                        }
                    })
                    .catch(error => {
                        console.log("erro em logout", error);
                    });
            }
        </script>

    </header>

    <!-- Modal -->
    <div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="modal-error-label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-error-label" style="font-weight: 700;">Erro: Lançamento Duplicado
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modal-error-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-fechar-modal" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-itens container-inactive">
            <div class="janela-title">
                <h4> Olá, {{usuario}}</h3>
                    <h4> Seu ID é: {{id_user}}</h2>
            </div>
            <div class="itens">

                <label for="os">O.S.: </label>
                <input type="text" id="os" class="os">

                <label for="etapa">Etapa:</label>
                <input type="text" id="etapa" class="etapa">

                <label for="colab2">Colaborador 2</label>
                <select name="colab2" id="colab2" class="select">
                    <option value=""></option>
                    {% for k in pessoas %}
                    <option value="{{k}}">{{k}}</p>
                        {% endfor %}
                </select>

                <label for="colab3">Colaborador 3</label>
                <select name="colab3" id="colab3" class="select">
                    <option value=""></option>
                    {% for k in pessoas %}
                    <option value="{{k}}">{{k}}</p>
                        {% endfor %}
                </select>
            </div>
            <button class="btn btn-success btn-op" id="init-btn">Inicializar</button>
            <img class="active-bar rotate-inactive" src="../static/src/icons/prox.png" width=40px" draggable="false">
        </div>
    </div>

    <div class="container-tables">
        <div class="view-tables">
            <div class="div-os"><strong>OS</strong></div>
            <div class="div-etapa"><strong>Etapa</strong></div>
            <div class="div-servico"><strong>Serviço</strong></div>
            <div class="div-colabs"><strong>Colaborador</strong></div>
            <div class="div-status"><strong>Status</strong></div>
            <div class="container-controles"><strong>Controles</strong></div>
        </div>

        <!-- div class="data-values">
            <div class="os-data">4980</div>
            <div class="etapa-data">235</div>
            <div class="servico-data">Servico da Etapa -> Descrição Resumida</div>
            <div class="colab-data">
                <div class="index1">Edneython</div>
                <div class="index2">Ana Gabriela</div>
                <div class="index3">Raiana</div>
            </div>
            <div class="status-servico">Inicializado</div>
            <div class="controles"><i class="fa-solid fa-arrow-rotate-left"
                    style="color: green; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.466); cursor: pointer;"></i>
                <i class="fa-regular fa-circle-pause"
                    style="color: red; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.466); cursor: pointer;"></i>
                <i class="fa-regular fa-circle-stop" style=" cursor: pointer;"></i>
            </div>
        </div -->

        {% for svc in lista_svc %}
        <div class="data-values" id="{{svc[0]}}">
            <div class="os-data">{{ svc[1] }}</div>
            <div class="etapa-data"> {{ svc[2] }} </div>
            <div class="servico-data">{{ svc[3] }}</div>
            <div class="colab-data">
                <div class="index1"> {{ svc[4] }} </div>
                <div class="index2"> {{ svc[5] }} </div>
                <div class="index3"> {{ svc[6] }} </div>
            </div>
            <div class="status-servico">{{ svc[7] }}</div>
            <div class="controles">
                {% if svc[7] == 'Inicializado' %}
                <i class="fa-regular fa-circle-pause pausar-button" data-id="{{svc[0]}}"
                    style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.466); cursor: pointer;"></i>
                <i class="fa-regular fa-circle-stop finalizar-button" data-id="{{svc[0]}}" style="cursor: pointer;"></i>
                {% endif %}
                {% if svc[7] == 'Em Pausa' %}
                <i class="fa-solid fa-arrow-rotate-left reiniciar-button" data-id="{{svc[0]}}"
                    style="text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.466); cursor: pointer;"></i>
                {% endif %}

                <!--i class="fa-solid fa-arrow-rotate-left reiniciar-button" data-id="{{svc[0]}}"
                    style="color: green; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.466); cursor: pointer;"></i>
                <i class="fa-regular fa-circle-pause pausar-button" data-id="{{svc[0]}}"
                    style="color: red; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.466); cursor: pointer;"></i>
                <i class="fa-regular fa-circle-stop finalizar-button" data-id="{{svc[0]}}" style="cursor: pointer;"></i-->

            </div>
        </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        // Função para exibir o modal de erro
        function exibirModalErro(mensagem) {
            var modal = document.getElementById('modal-error');
            var mensagemElement = document.getElementById('modal-error-message');
            mensagemElement.innerText = mensagem;
            $('#modal-error').modal('show'); // Usando jQuery para exibir o modal

            // Adicionar ouvinte de evento para quando o modal for fechado
            modal.addEventListener('hidden.bs.modal', function () {
                if (mensagem.includes('LANÇAMENTO DUPLICADO')) {
                    console.log('Mensagem Duplicada');
                } else {
                    location.reload();
                }
            });

            // Adicionar ouvinte de evento para os botões de fechar o modal
            var fecharBotoes = document.querySelectorAll('.btn-fechar-modal, .close');
            for (var i = 0; i < fecharBotoes.length; i++) {
                fecharBotoes[i].addEventListener('click', function () {
                    $('#modal-error').modal('hide'); // Fechar o modal
                });
            }
        }


        let operacional
        // Selecionando os elementos HTML
        const osInput = document.getElementById('os');
        const etapaInput = document.getElementById('etapa');
        const colab2Select = document.getElementById('colab2');
        const colab3Select = document.getElementById('colab3');


        osInput.addEventListener('input', function (event) {
            const value = event.target.value;
            event.target.value = value.replace(/\D/g, '');
        });

        etapaInput.addEventListener('input', function (event) {
            const value = event.target.value;
            event.target.value = value.replace(/\D/g, '');
        });


        // Event listener para o botão "Inicializar"
        document.getElementById("init-btn").addEventListener('click', () => {
            // Obtendo os valores dos inputs e selects
            const osValue = osInput.value;
            const etapaValue = etapaInput.value;
            const colab2Value = colab2Select.value;
            const colab3Value = colab3Select.value;
            let porc_colab1;
            let porc_colab2;
            let porc_colab3;


            // Verificando se algum valor é vazio
            if (osValue === "" || etapaValue === "") {
                alert("Preencha todos os campos antes de continuar");
                return; // Interrompe a execução do código
            }

            if (colab2Value === "" && colab3Value === "") {
                porc_colab1 = 1.00;
                porc_colab2 = 0.00;
                porc_colab3 = 0.00;

            } else if (colab2Value !== "" && colab3Value === "") {
                porc_colab1 = 0.50;
                porc_colab2 = 0.50;
                porc_colab3 = 0.00;

            } else if (colab2Value !== "" && colab3Value !== "") {
                porc_colab1 = (1.00 / 3.00).toFixed(2);
                porc_colab2 = (1.00 / 3.00).toFixed(2);
                porc_colab3 = (1.00 / 3.00).toFixed(2);
            }

            function criarElementos(dados) {
                var container = document.querySelector('.container-tables');
                var dataValues = document.createElement('div');
                dataValues.className = 'data-values ' + dados.id_servico;
                dataValues.id = dados.id_servico;

                var osData = document.createElement('div');
                osData.className = 'os-data';
                osData.textContent = dados.os;

                var etapaData = document.createElement('div');
                etapaData.className = 'etapa-data';
                etapaData.textContent = dados.etapa;

                var servicoData = document.createElement('div');
                servicoData.className = 'servico-data';
                servicoData.textContent = dados.descricao;

                var colabData = document.createElement('div');
                colabData.className = 'colab-data';

                var colab1 = document.createElement('div');
                colab1.className = 'index1';
                colab1.textContent = dados.colab_1;

                var colab2 = document.createElement('div');
                colab2.className = 'index2';
                colab2.textContent = dados.colab_2;

                var colab3 = document.createElement('div');
                colab3.className = 'index3';
                colab3.textContent = dados.colab_3;

                colabData.appendChild(colab1);

                if (dados.colab_2) {
                    colabData.appendChild(colab2);
                }

                if (dados.colab_3) {
                    colabData.appendChild(colab3);
                }

                var statusServico = document.createElement('div');
                statusServico.className = 'status-servico';
                statusServico.textContent = dados.status;

                dataValues.appendChild(osData);
                dataValues.appendChild(etapaData);
                dataValues.appendChild(servicoData);
                dataValues.appendChild(colabData);
                dataValues.appendChild(statusServico);

                var controles = document.createElement('div');
                controles.className = 'controles';

                var arrowLeftIcon = document.createElement('i');
                arrowLeftIcon.className = 'fa-solid fa-arrow-rotate-left';
                arrowLeftIcon.style.color = 'green';
                arrowLeftIcon.style.textShadow = '0px 0px 2px rgba(0, 0, 0, 0.466)';
                arrowLeftIcon.style.cursor = 'pointer';

                var pauseIcon = document.createElement('i');
                pauseIcon.className = 'fa-regular fa-circle-pause';
                pauseIcon.style.color = 'red';
                pauseIcon.style.textShadow = '0px 0px 2px rgba(0, 0, 0, 0.466)';
                pauseIcon.style.cursor = 'pointer';

                var stopIcon = document.createElement('i');
                stopIcon.className = 'fa-regular fa-circle-stop';
                stopIcon.style.cursor = 'pointer';

                controles.appendChild(arrowLeftIcon);
                controles.appendChild(pauseIcon);
                controles.appendChild(stopIcon);

                dataValues.appendChild(controles);

                container.appendChild(dataValues);
            }


            // Criando o objeto de dados a ser enviado para a API
            const dadosInicializar = {
                os: osValue,
                etapa: etapaValue,
                colab2: colab2Value,
                colab3: colab3Value,
                porc_colab1: porc_colab1,
                porc_colab2: porc_colab2,
                porc_colab3: porc_colab3
            };

            // Enviando a solicitação POST para a API
            fetch('/operacional/inicializar-servico', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dadosInicializar)
            })
                .then(response => response.json())
                .then(data => {

                    console.log('Dados: ', data.dados);
                    if (data.sucess) {
                        exibirModalErro('Serviço Inicializado');
                        osInput.value = "";
                        etapaInput.value = "";
                        criarElementos(data.dados)

                    } else if (data.exists) {
                        exibirModalErro(`LANÇAMENTO DUPLICADO.\nLançado por: ${data.dados[3]}.\nData lançamento: ${data.dados[5]}`);
                    }

                    else {
                        exibirModalErro('Erro ao inicializar serviço, contate o TI');
                        return; //Interrompe.
                    }

                })
                .catch(error => {
                    // Lidar com erros na solicitação
                    console.error('Erro:', error);
                });

        });


        function logoClick() {
            location.href = 'http://192.168.0.34:5000/homepage'
        }

        var containerItens = document.querySelector(".container-itens");
        var activeBar = document.querySelector(".active-bar");
        var startTouchX; // Posição inicial do toque
        var isDragging = false;

        activeBar.addEventListener("touchstart", function (event) {
            startTouchX = event.touches[0].clientX;
            isDragging = false;
        });

        activeBar.addEventListener("touchmove", function (event) {
            var currentTouchX = event.touches[0].clientX;
            var distance = currentTouchX - startTouchX;

            if (distance > 0 && !containerItens.classList.contains("container-active")) {
                isDragging = true;
            } else if (distance < 0 && containerItens.classList.contains("container-active")) {
                isDragging = true;
            }
        });

        activeBar.addEventListener("touchend", function (event) {
            if (isDragging) {
                var currentTouchX = event.changedTouches[0].clientX;
                var distance = currentTouchX - startTouchX;

                if (distance > 0 && !containerItens.classList.contains("container-active")) {
                    containerItens.classList.remove("container-inactive");
                    containerItens.classList.add("container-active");
                    activeBar.classList.remove("rotate-inactive");
                    activeBar.classList.add("rotate-active");
                } else if (distance < 0 && containerItens.classList.contains("container-active")) {
                    containerItens.classList.remove("container-active");
                    containerItens.classList.add("container-inactive");
                    activeBar.classList.remove("rotate-active");
                    activeBar.classList.add("rotate-inactive");
                }
            }
        });

        activeBar.addEventListener("click", function () {
            if (!isDragging) {
                if (containerItens.classList.contains("container-active")) {
                    containerItens.classList.remove("container-active");
                    containerItens.classList.add("container-inactive");
                    activeBar.classList.remove("rotate-active");
                    activeBar.classList.add("rotate-inactive");
                } else {
                    containerItens.classList.remove("container-inactive");
                    containerItens.classList.add("container-active");
                    activeBar.classList.remove("rotate-inactive");
                    activeBar.classList.add("rotate-active");
                }
            }
        });

        document.addEventListener("click", function (event) {
            var container = document.querySelector(".container-itens");
            var toggleIcon = document.querySelector(".active-bar");

            // Verifica se o clique ocorreu dentro da div .container-itens
            if (!container.contains(event.target)) {
                container.classList.remove("container-active");
                container.classList.add("container-inactive");
                toggleIcon.classList.remove("rotate-active");
                toggleIcon.classList.add("rotate-inactive");
            }
        });

        // Obtenha uma lista de todos os elementos com a classe .data-values
        const dataValuesList = document.querySelectorAll('.data-values');

        // Iterar sobre cada elemento da lista
        dataValuesList.forEach(dataValues => {
            // Obtenha a referência para o elemento .status-servico dentro do elemento .data-values atual
            const statusServico = dataValues.querySelector('.status-servico');

            // Verifique o conteúdo da classe .status-servico e aplique o estilo correspondente
            if (statusServico.textContent === 'Finalizado') {
                dataValues.style.backgroundColor = 'var(--stop-color)';
            } else if (statusServico.textContent === 'Inicializado') {
                dataValues.style.backgroundColor = 'var(--progress-color)';
            } else {
                dataValues.style.backgroundColor = 'var(--pause-color)';
            }
        });

        // Aguarde até que o documento esteja totalmente carregado
        /*$(document).ready(function () {
            // Adicione eventos de clique para os botões
            $('.reiniciar-button').click(function () {
                var id = $(this).data('id'); // ID do elemento "data-values" correspondente
                var action = $(this).data('action'); // Ação específica para o botão

                solicitarAcaoAPI(id, action);
            });

            // Adicione eventos de clique para os botões de pausar
            $('.pausar-button').click(function () {
                var id = $(this).data('id'); // ID do elemento "data-values" correspondente
                var action = $(this).data('action'); // Ação específica para o botão

                solicitarAcaoAPI(id, action);
            });

            // Adicione eventos de clique para os botões de finalizar
            $('.finalizar-button').click(function () {
                var id = $(this).data('id'); // ID do elemento "data-values" correspondente
                var action = $(this).data('action'); // Ação específica para o botão

                solicitarAcaoAPI(id, action);
            });
        });

        // Função para fazer a solicitação à API com a ação específica
        function solicitarAcaoAPI(id, action) {
            var url = ''; // Defina a URL correta da API com base na ação

            if (action === 'reiniciar') {
                url = '/operacional/reiniciar';
            } else if (action === 'pausar') {
                url = '/operacional/pausar'; 
            } else if (action === 'finalizar') {
                url = '/operacional/finalizar';
            }

            // Faça a solicitação à API
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    id: id
                },
                success: function (response) {
                    // Lógica a ser executada em caso de sucesso na solicitação
                    console.log('Solicitação enviada com sucesso!');
                },
                error: function (error) {
                    // Lógica a ser executada em caso de erro na solicitação
                    console.log('Erro na solicitação:', error);
                }
            });
        }*/

        // Função para lidar com o clique no botão "Reiniciar"
        function handleReiniciarButtonClick(event) {
            const divId = event.target.dataset.id;
            enviarSolicitacaoAPI(divId, "reiniciar");
        }

        // Função para lidar com o clique no botão "Pausar"
        function handlePausarButtonClick(event) {
            const divId = event.target.dataset.id;
            enviarSolicitacaoAPI(divId, "pausar");
        }

        // Função para lidar com o clique no botão "Finalizar"
        function handleFinalizarButtonClick(event) {
            const divId = event.target.dataset.id;
            enviarSolicitacaoAPI(divId, "finalizar");
        }

        // Função para enviar a solicitação para sua API
        function enviarSolicitacaoAPI(divId, acao) {
            // Faça a solicitação para sua rota da API com o ID da div e a ação
            // Você pode usar o objeto XMLHttpRequest ou a função fetch para fazer a solicitação AJAX
            // Por exemplo, usando fetch:
            fetch(`/operacional/alterar_status?id=${divId}&acao=${acao}`, {
                method: 'POST',
                // Se houver necessidade de passar algum cabeçalho ou corpo na solicitação, você pode adicionar aqui
            })
                .then(response => {
                    if (response.ok) {
                        exibirModalErro('Solicitação realizada com sucesso!');
                    } else {
                        alert("algo deu errado");
                    }
                })
                .catch(error => {
                    // Trate os erros, se houver
                    console.error(error);
                });
        }

        // Obtenha uma lista de todos os botões de reiniciar, pausar e finalizar
        const reiniciarButtons = document.getElementsByClassName('reiniciar-button');
        const pausarButtons = document.getElementsByClassName('pausar-button');
        const finalizarButtons = document.getElementsByClassName('finalizar-button');

        // Adicione um event listener para cada botão
        for (const button of reiniciarButtons) {
            button.addEventListener('click', handleReiniciarButtonClick);
        }

        for (const button of pausarButtons) {
            button.addEventListener('click', handlePausarButtonClick);
        }

        for (const button of finalizarButtons) {
            button.addEventListener('click', handleFinalizarButtonClick);
        }


    </script>
</body>

</html>