<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/painel.css">

    <!--------------------- BootStrap --------------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>


    <script src="https://kit.fontawesome.com/73cc2295d4.js" crossorigin="anonymous"></script>
    <script src="../static/painel.js"></script>

    <title>Painel do Administrador</title>
</head>

<body>
    <header class="header">
        <img class="img-logo" src="../static/src/icons/logo_branca.png" height="50px">
        <button type="button" class="btn btn-danger btn-md" onclick="logout()">Finalizar Sessão</button>
    </header>
    <h1 class="titulo-painel">PAINEL DO ADMINISTRADOR</h1>
    <div class="bar-place">
        <div class="toolbar-items">
            <div class="cad-colab">

                <button type="button" class="btn add-colab-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class=" fa-solid fa-plus fa-lg"></i><span class="botoes"> Colaborador</span>
                </button>

                <button class="toolbar-item comissao-btn btn add-colab-btn">
                    <i class="fa-solid fa-plus fa-lg"></i><span> Comissão Sys</span>
                </button>

                <!-- Button trigger modal -->
                <!--button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Launch demo modal
                </button-->


            </div>
        </div>

        <!-- Modal -->
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal modal-dialog-2xl modal-dialog-centered fade d-none" id="exampleModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de Colaborador</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body custom-modal-dialog">
                            <div class="cadastro-colab">
                                <label for="nome-completo" class="label-cad">Nome Completo</label>
                                <input id="nome-completo" type="text" name="nome-completo" required>
                                <label for="cpf-colaborador" class="label-cad">CPF</label>
                                <input id="cpf-colaborador" type="text" inputmode="numeric" required>
                                <label for="data-nascimento" class="label-cad" id="dt-nascimento">Data
                                    Nascimento</label>
                                <input id="data-nascimento" type="date" required>
                            </div>
                            <div class="body-cadastro">
                                <div class="cargo-container">
                                    <label for="select-cargo" id="grade-label">Selecione o Cargo</label>
                                    <select id="select-cargo" class="select-cargo">
                                        <option value="Operacional">Operacional</option>
                                        <option value="Qualidade">Qualidade</option>
                                        <option value="Supervisor">Supervisor</option>
                                        <option value="Administrador">Administrador</option>
                                    </select>
                                </div>
                                <div class="grade-container">
                                    <label for="select-grade" id="grade-label">Selecione a Grade</label>
                                    <select id="select-grade" class="select-grade">
                                        <option value="1">Grade 1</option>
                                        <option value="2">Grade 2</option>
                                        <option value="3">Grade 3</option>
                                    </select>
                                </div>
                                <div class="nivel-container">
                                    <label for="select-nivel" id="grade-label">Selecione o Nível</label>
                                    <select id="select-nivel" class="select-nivel">
                                        <option value="Junior">Junior</option>
                                        <option value="Pleno">Pleno</option>
                                        <option value="Senior">Sênior</option>
                                        <option value="Especialista">Especialista</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="saveChangesBtn">Save
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>

            // Remover a classe d-none do modal com o clique no botão
            document.querySelector(".add-colab-btn").addEventListener("click", function () {

                var modalElement = document.getElementById("exampleModal");
                modalElement.classList.remove("d-none");
            });


            // A função será executada quando o botão "Save changes" for clicado
            document.getElementById("saveChangesBtn").addEventListener("click", function () {

                // Obtenha o valor do input no modal
                var nomeCompleto = document.getElementById("nome-completo").value;
                var cpf = document.getElementById("cpf-colaborador").value;
                var dataNascimento = document.getElementById("data-nascimento").value;

                var optionsElement = document.getElementById("select-cargo");
                var selectCargo = optionsElement.value;

                var optionsGrade = document.getElementById("select-grade");
                var selectGrade = optionsGrade.value;

                var optionsNivel = document.getElementById("select-nivel");
                var selectNivel = optionsNivel.value;


                if (nomeCompleto === '') {
                    return; // Sai da função se o inputValue estiver vazio
                }

                var dataAtual = new Date();

                // Obtém as informações da data
                var dia = dataAtual.getDate();
                var mes = dataAtual.getMonth() + 1; // Os meses são indexados a partir de zero, por isso é adicionado +1
                var ano = dataAtual.getFullYear();

                // Formata a data como string (no formato dd/mm/aaaa)
                var dataAtualFormatada = ano + '-' + mes + '-' + dia;
                var senha = cpf.substring(0, 4);
                // Faça o que desejar com o valor do input, por exemplo, exiba-o no console
                console.log(`Valores do input: ${nomeCompleto}, ${cpf}, ${senha}, ${dataNascimento}, ${selectCargo}, ${selectGrade}, ${selectNivel}, ${dataAtualFormatada}`);

                // Feche o modal
                var modalElement = document.getElementById("exampleModal");
                var bootstrapModal = bootstrap.Modal.getInstance(modalElement);
                bootstrapModal.hide();
            });

            // Type event listener para aceitar apenas numeros no campo de CPF
            var inputCpf = document.getElementById("cpf-colaborador");

            inputCpf.addEventListener("keydown", function (event) {
                // Verifica se a tecla pressionada é um número
                if (event.key !== "Backspace" && isNaN(Number(event.key))) {
                    event.preventDefault();
                }
            });

            function logout() {
                fetch("/logout", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                })
                    .then(response => {
                        if (response.ok) {
                            console.log("Logou realizado com sucesso");
                            window.location.href = "/";
                        } else {
                            console.log("Erro ao realizar logout");
                        }
                    })
                    .catch(error => {
                        console.log("erro em logout", error);
                    });
            }

        </script>
</body>

</html>